// Colors
$bg-color: #FFFFFF;
$dot-color: #CCCCCC;

// Dot Dimensions
$dot-size: 2px;
$dot-space: 22px;

body {
  background: linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center, linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
  background-size: $dot-space $dot-space;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui {
  .header {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
}

.app-header {
  padding: 12px;
  height: 50px;
  background: #FFF;
  border-bottom: 1px solid #2A2A57;

  &__logo {
    float: left;
  }

  &__login {
    float: right;
  }
}

.row {
  padding-bottom: 50px;
}
